.timeline-container {
    position: relative;
    width: 1000px; /* Largeur fixe pour éviter les problèmes de responsive */
    margin: 0 auto;
    padding: 50px 0;
}

.timeline-header {
    width: 150px;
    margin: 10px auto;
    border: 1px solid #ccc;
}

.timeline {
    position: relative;
    margin-top: 40px;
    padding: 20px 0 0;
}

.timeline-line {
    position: absolute;
    top: 43px;
    bottom: 0;
    left: 50%;
    width: 4px;
    background-color: #ccc;
    transform: translateX(-50%);
    height: 92%;
}

.timeline-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 60px;
    width: 100%;
    max-width: 945px;
    z-index: 100;
}

.timeline-item.right {
    flex-direction: row-reverse;
    text-align: left;
}

.timeline-item.left {
    flex-direction: row;
    text-align: right;
    left: 5.2%;
}

.timeline-image {
    height: 145px;
    border-radius: 30%;
    background-color: white;
    margin: 0 20px;
}

.timeline-content {
    max-width: 350px; /* Largeur fixe pour garantir l'alignement */
}

.timeline-title {
    font-weight: bold !important;
    margin: 10px 0 !important;
}

.timeline-date {
    font-size: 0.9rem !important;
    color: gray !important;
}

.timeline-text {
    font-size: 1rem !important;
    line-height: 1.5 !important;
}

@media (max-width: 767px) {

    .timeline-item.left{
        left: 0;
        flex-direction: row-reverse;
        text-align: start;
    }

    .timeline-item{
        justify-content: flex-end;
        gap: 20px;
    }

    .timeline-line{
        left: 10.5%;
        width: 5px;
    }

    .timeline-image{
        width: 170px !important;
        height: 170px !important;
    }

    .timeline-content{
        max-width: 70%;
    }

    .timeline-text{
        font-size: 1.5rem !important;
    }
    
    .timeline-date {
        font-size: 1.3rem !important;
    }

    .timeline-title{
        font-size: 2.4rem !important;
    }
}

@media (max-width: 552px) {

    .timeline-line{
        left: 12%;
        top: 115px;
        width: 7px;
    }

    .timeline-content{
        max-width: 100%;
    }

    .timeline-text{
        font-size: 2.5rem !important;
    }
    
    .timeline-date {
        font-size: 2.3rem !important;
    }

    .timeline-title{
        font-size: 3.4rem !important;
    }

    .timeline-image{
        width: 200px !important;
        height: 200px !important;
    }
}