.timeline-container {
    position: relative;
    width: 1000px; /* Largeur fixe pour éviter les problèmes de responsive */
    margin: 0 auto;
    padding: 50px 0;
}

.timeline-header {
    width: 150px;
    margin: 10px auto;
    border: 1px solid #ccc;
}

.timeline {
    position: relative;
    margin-top: 40px;
    padding: 20px 0 0;
}

.timeline-line {
    position: absolute;
    top: 43px;
    bottom: 0;
    left: 50%;
    width: 4px;
    background-color: #ccc;
    transform: translateX(-50%);
    height: 92%;
}

.timeline-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 60px;
    width: 100%;
    max-width: 945px;
    z-index: 100;
}

.timeline-item.right {
    flex-direction: row-reverse;
    text-align: left;
}

.timeline-item.left {
    flex-direction: row;
    text-align: right;
    left: 5.2%;
}

.timeline-image {
    height: 145px;
    border-radius: 30%;
    background-color: white;
    margin: 0 20px;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.timeline-content {
    max-width: 350px; /* Largeur fixe pour garantir l'alignement */
}

.timeline-title {
    font-weight: bold !important;
    margin: 5px 0 !important;
}

.timeline-date {
    font-size: 0.9rem !important;
    color: gray !important;
}

.timeline-text {
    font-size: 1rem !important;
    line-height: 1.5 !important;
}

@media (max-width: 767px) {


    .timeline-container{
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .timeline-item{
        justify-content: flex-end;
        gap: 11px;
        width: 92%;
        max-width: none;
    }

    .timeline-item.left{
        left: 0;
        flex-direction: row-reverse;
        text-align: start;
    }

    .timeline-line{
        left: 10.5%;
        width: 5px;
    }

    .timeline-image{
        width: 170px !important;
        height: 170px !important;
    }

    .timeline-content{
        max-width: 100%;
    }

    .timeline-date {
        font-size: 20px !important;
    }

    .timeline-title{
        font-size: 25px !important;
    }

    .timeline-text{
        font-size: normal !important;
    }
}

@media (max-width: 767px) {

    .timeline-content{
        max-width: 100%;
    }

    .timeline-date {
        font-size: 15px !important;
    }

    .timeline-title{
        font-size: 20px !important;
    }

    .timeline-text{
        font-size: normal !important;
    }

    .timeline-image{
        width: 100px !important;
        height: 100px !important;
    }

    .timeline-line{
        left: 70px;
        top: 60px;
        width: 7px;
    }

}

@media (max-width: 425px) {

    .timeline-item{
        gap: 0;
    }

    .timeline-line{
        top: 80px;
    }

    .timeline-hr {
        width: 100px !important;
    }

    .timeline{
        margin-top: 20px;
        padding: 0px 0 0;
    }

}