.Header{
    height: calc(var(--vh, 1vh) * 100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-content{
    display: flex;
    align-items: center;
    gap: 10px;
}

.name{
    font-size: 4.5rem;
}

.header-body{
    max-width: 616px;
}

.header-typed{
    font-size: 2rem;
}

.typed-cursor{
    font-size: 2rem;
}

.header-arrow{
    bottom: 10px !important;
    transition: 0.15s ease-in;
    user-select: none;
}

.header-arrow:hover{
    cursor: pointer;
    opacity: 1 !important;
}

.header-logo{
    width: 300px;
    height: 300px;
}

@media (max-width: 1024px) {
    .header-content{
        flex-direction: column;
    }
}

@media (max-width: 767px) {

    .name{
        font-size: 6rem !important;
    }

    .header-logo{
        width: 400px;
        height: 400px;
    }

    .header-typed{
        font-size: 3rem;
    }
}