.Project-box{
    border: solid black;
}
/* Overlay (fond sombre) */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
    display: flex;
    justify-content: center;
    overflow-y: auto; /* Activer le scroll vertical dans l'overlay */
    align-items: center;
}


.overlay-content {
    padding: 0 2rem;
    border-radius: 8px;
    max-width: 800px;
    width: 90%;
    height: auto;
    max-height: 85%;
    text-align: center;
    position: relative;
    animation: fadeIn 0.3s ease-in-out;
    top: 40px;
    overflow-y: auto; /* Activer le scroll dans le contenu si nécessaire */
}

.overlay-head{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0px 20px;
}

.close-button {
    background: none;
    border: none;
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
}

.overlayText{
    font-size: 1.7rem !important;
    display: flex;
    align-items: center;
    width: 100% !important;
    justify-content: center;
}

.info{
    display: flex;
    gap: 2%;
    align-items: center;
    margin: 15px 0px;
}

.info > p {
    text-align: start;
    margin-bottom: 0px !important;
    width: 35%;
    font-weight: 500;
}

.info-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.desc {
    align-items: flex-start !important;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    margin: 0 auto;
}

.ico-c{
    display: flex;
    margin: 0px 50px 20px;
    width: 70px;
    padding: 8px 2px !important;
    user-select: none;
    opacity: 1;
}

.globalInf{
    width: 80%;
    margin: 0 auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@media (max-width: 767px) {

    .project-text{
        border-top: 2px solid rgb(204, 204, 204);
        padding: 1rem;
        color: white;
        font-size: calc(0.7rem + 1.5vw) !important;
    }

    .overlay-content {
        max-width: 90%;
        width: 90%;
    }

    .close-button{
        color: black;
        font-size: 30px;
        right: 10%;
    }
    .overlayText{
        font-size: 25px !important;
    }

    .overlay-head{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        width: 80%;
        margin: 20px auto 10px;
    }

    .info > h6{
        font-size: 15px !important;
    }

    .info > p {
        font-size: 15px;
        min-width: 125px !important;
    }

    .desc-text{
        font-size: 1.5rem !important;
    }

    .desc {
        width: 100%;
    }

    .globalInf{
        width: 100%;
        margin: 0;
    }
    
}

@media (max-width: 552px) {
    .overlay-head{
        justify-content: center;
    }

    .close-button {
        right: 11%;
    }
    
}

@media (max-width: 425px) {
    .overlay-head{
        justify-content: center;
        width: 90%;
    }

    .close-button {
        position: fixed;;
        right: 9%;
    }

    .overlayText {
        max-width: 750px !important;
    }

    .projet-hr{
        width: 90px !important;
    }
}

@media (max-width: 320px) {
    .close-button {
        position: relative;
        top: 0;
        right: 0;
    }
}