.hr{
    box-sizing: content-box;
    height: 0px;
    overflow: visible;
    border: solid 2px;
    border-radius: 10px;
    opacity: 1;
    margin: 0.5vh auto;
    width: 275px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2%;
  }
  
  @media (max-width: 1470px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (max-width: 767px) {
    .grid-container {
      grid-template-columns: 1fr;
    }

    .skill-box{
        font-size: 25px !important;
    }

    .skill-cat{
      font-size: 2.7rem !important;
    }

    .name-skill{
      font-size: 1.7rem !important;
    }
    
    .skill-icon{
      width:75px !important;
      height: 75px !important;
    }
  }

  @media (max-width: 552px) {
    .skill-box{
      grid-template-columns: repeat(2, 1fr) !important;
      font-size: 35px !important;
    }

    .skill-cat{
      font-size: 3rem !important;
    }

    .name-skill{
      font-size: 2rem !important;
    }
    
    .skill-icon{
      width: 105px !important;
      height: 105px !important;
    }
  }