.hr{
    box-sizing: content-box;
    height: 0px;
    overflow: visible;
    border: solid 2px;
    border-radius: 10px;
    opacity: 1;
    margin: 0.5vh auto;
    width: 275px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin-top: 2%;
    width: 80%;
    margin: 0 auto;
  }
  
@media (max-width: 1470px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 767px) {

  .s-title{
    font-size: calc(1.3rem + .6vw) !important;
  }

  .grid-container {
    grid-template-columns: 1fr;
  }

  .skill > h3{
    font-size: calc(1.3rem + .6vw);
    font-weight: 500;
  }

  .skill > hr{
    box-sizing: border-box;
    height: 0px;
    border: solid 2px;
    border-radius: 10px;
    opacity: 1;
    margin: 0.5vh auto;
    width: 130px;
  }

  .skill-box{
    grid-template-columns: repeat(2, 1fr) !important;
    font-size: 1rem !important;
  }

  .skill-cat{
    font-size: 24px !important;
    text-align: center;
  }

  .skill > .fa-3x {
    font-size: 5vh;
  }

  .name-skill{
    font-size: 20px !important;
  }
  
  .skill-icon{
    width: 44px !important;
    height: 44px !important;
  }
}

@media (max-width: 425px) {
  
  .grid-container{
    width: 90% !important;
  }

  .hr{
    width: 125px;
  }
}